/*police utilisée pour le titre */
@font-face {
    font-family: 'neoneonregular';
    src: url('../fonts/neoneon-webfont.eot');
    src: url('../fonts/neoneon-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neoneon-webfont.woff2') format('woff2'),
    url('../fonts/neoneon-webfont.woff') format('woff'),
    url('../fonts/neoneon-webfont.svg#neoneonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'newyorkregular';
    src: url('../fonts/newyork-webfont.eot');
    src: url('../fonts/newyork-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/newyork-webfont.woff2') format('woff2'),
    url('../fonts/newyork-webfont.woff') format('woff'),
    url('../fonts/newyork-webfont.ttf') format('truetype'),
    url('../fonts/newyork-webfont.svg#newyorkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.vide2{
    display: none!important;
}
.htext{
    font-family: newyorkregular ;
    font-size: x-large;
    color: #a85ff1;
}
/*non affichage du petit titre utilisé seulement en responsive */
.titre-petit{
    display: none;
}
/*augmentation de la taille de la police dans les boutons bootstrap*/
.btn{
    font-size: 1.9rem;
}
/*réduction taille des images en lien dans le carousel*/
a {
    width: 50%;
}
/*couleur de la police et du fond des boutons du formulaire */
.btn.envoi{
    background: rgba(0, 151, 19, 0.1);
    color: #9d0bc9;
}
/*suppression couleur fond des cartes de l'accordéon (titre)*/
.card-header{
    background: rgba(0, 151, 19, 0) !important;
}
/*image de fond de la page, étirée a toute la page */
body{
    background-image: url('../img/synth.jpg') ;
    background-size: cover;
}
/*fixe la taile de l'image de base dans le carousel */
img.imgcarou{
    width: 50%;
    height: 80%;
}
/*police d'écriture, position et luminosité du titre de la page */
.neon {
    font-family: 'neoneonregular';
    position: relative;
    overflow: hidden;
    filter: brightness(190%);
}
/*set up de l'animation néon pour le texte du carousel*/
.neonpr {
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
/*propriétées / keyframes de l'animation */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #8003f6, 0 0 10px #8726e7, 0 0 15px #a85ff1, 0 0 20px #b49ede, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #ffb3d8, 0 0 20px #ef74b1, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
}
/*set up des classes et animations néon pour les titres des cartes de l'accordéon, ici pour "mes expériences passées" */
.neonbr {
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glowe 1s ease-in-out infinite alternate;
    -moz-animation: glowe 1s ease-in-out infinite alternate;
    animation: glowe 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowe {
    from {
        text-shadow: 0 0 10px #0346fc, 0 0 20px #1c50ec, 0 0 30px #2772ef, 0 0 40px #58efe3, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e07c7c, 0 0 40px #de4141, 0 0 50px #ff0000, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
/*set up des classes et animations néon pour les titres des cartes de l'accordéon, ici pour "mes compétences" */
.neongy {
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glowy 1s ease-in-out infinite alternate;
    -moz-animation: glowy 1s ease-in-out infinite alternate;
    animation: glowy 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowy {
    from {
        text-shadow: 0 0 10px #005702, 0 0 20px #258709, 0 0 30px #31de41, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffdb6f, 0 0 40px #debc3b, 0 0 50px #a78400, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
/*set up des classes et animations néon pour les titres des cartes de l'accordéon, ici pour "mes formations" */
.neonpb {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowo 1s ease-in-out infinite alternate;
    -moz-animation: glowo 1s ease-in-out infinite alternate;
    animation: glowo 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowo {
    from {
        text-shadow: 0 0 10px #660064, 0 0 20px #9d0bc9, 0 0 30px #c576ea, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #a1ffe6, 0 0 40px #7bffed, 0 0 50px #00fca9, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/*animations et keyframes pour le titre */

:root {
    /* Base font size */
    font-size: 10px;

     /*Set neon color*/
    --neon-text-color: #761d00;
    /*--neon-border-color: #08f;*/
}

h1 {
    font-size: 6rem;
    font-weight: 200;
    /*font-style: italic;*/
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    /*border: 0.4rem solid #fff;*/
    /*border-radius: 2rem;*/
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    /*background-color: var(--neon-border-color);*/
    color: var(--neon-text-color);
}

h1::selection {
    /*background-color: var(--neon-border-color);*/
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
                -0.2rem -0.2rem 0.6rem rgb(14, 175, 175),
                0.2rem 0.2rem 0.8rem rgb(0, 144, 144),
                0 0 1.6rem var(--neon-text-color),
                0 0 3rem var(--neon-text-color),
                0 0 4rem var(--neon-text-color),
                0 0 6rem var(--neon-text-color),
                0 0 8rem var(--neon-text-color);

    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

/*animation de disparition */
@keyframes myAnimation{
    0%{
        opacity: 1;
    }
    5%{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        opacity: 0.95;
    }
    10%{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        opacity: 0.9;
    }
    15%{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        opacity: 0.85;
    }
    20%{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        opacity: 0.8;
    }
    25%{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        opacity: 0.75;
    }
    30%{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        opacity: 0.7;
    }
    35%{
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        opacity: 0.65;
    }
    40%{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        opacity: 0.6;
    }
    45%{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        opacity: 0.55;
    }
    50%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
        transform: scaleY(0.5) ;
        width: 50%;
    }
    55%{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        opacity: 0.45;
    }
    60%{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        opacity: 0.4;
    }
    65%{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        opacity: 0.35;
    }
    70%{
        margin-left: auto;
        margin-right: auto;
        left: 70%;
        width: 30%;
        opacity: 0.3;
    }
    75%{
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        opacity: 0.25;
    }
    80%{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        opacity: 0.2;
    }
    85%{
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        opacity: 0.15;
    }
    90%{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        opacity: 0.1;
    }
    95%{
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        opacity: 0.05;
    }
    100%{
        margin-left: auto;
        margin-right: auto;
        display: none !important;
        opacity: 0;
        width: 0;
        transform: scaleY(0)  ;
    }
}
/*set up de la taille de base du carousel afin que ce soit la taille de référence pour les animations*/
.carouche{
    width: 100%;
}
/*classe permettant l'utilisation de l'animation de disparition */
.testanimation{
    animation-name: myAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
 /*classe permettant l'utilisation de l'animation d'apparition */
.testanimationn{
    animation-name: myAnimationn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

/*animation d'apparition  */
@keyframes myAnimationn{
    0%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        width: 0;
        transform: scaleY(0)  ;
    }
    5%{
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        opacity: 0.05;
    }
    10%{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        opacity: 0.1;
    }
    15%{
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        opacity: 0.15;
    }
    20%{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        opacity: 0.2;
    }
    25%{
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        opacity: 0.25;
    }
    30%{
        margin-left: auto;
        margin-right: auto;
        left: 70%;
        width: 30%;
        opacity: 0.3;
    }
    35%{

        margin-left: auto;
        margin-right: auto;
        width: 35%;
        opacity: 0.35;
    }
    40%{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        opacity: 0.4;
    }
    45%{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        opacity: 0.45;
    }
    50%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
        transform: scaleY(0.5) ;
        width: 50%;
    }
    55%{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        opacity: 0.55;
    }
    60%{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        opacity: 0.6;

    }
    65%{
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        opacity: 0.65;
    }
    70%{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        opacity: 0.7;

    }
    75%{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        opacity: 0.75;
    }
    80%{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        opacity: 0.8;

    }
    85%{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        opacity: 0.85;

    }
    90%{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        opacity: 0.9;
    }
    95%{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        opacity: 0.95;
    }
    100%{
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        width: 100%;
    }
}

.btn-link {
    color: #26e7d7;
}
button.btn-link:hover {
    color: #ba00ff;
}
.formdisp{
    animation-name: animForm;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
/*animation de disparition */
@keyframes animForm{
    0%{
        opacity: 1;
    }
    5%{
        margin-left: auto;
        margin-right: auto;
        width: 95% !important;
        opacity: 0.95;
    }
    10%{
        margin-left: auto;
        margin-right: auto;
        width: 90% !important;
        opacity: 0.9;
    }
    15%{
        margin-left: auto;
        margin-right: auto;
        width: 85% !important;
        opacity: 0.85;
    }
    20%{
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
        opacity: 0.8;
    }
    25%{
        margin-left: auto;
        margin-right: auto;
        width: 75% !important;
        opacity: 0.75;
    }
    30%{
        margin-left: auto;
        margin-right: auto;
        width: 70% !important;
        opacity: 0.7;
    }
    35%{
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        opacity: 0.65;
    }
    40%{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        opacity: 0.6;
    }
    45%{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        opacity: 0.55;
    }
    50%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
        transform: scaleY(0.5) ;
        width: 50%;
        animation-play-state: paused;
    }
    55%{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        opacity: 0.45;
    }
    60%{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        opacity: 0.4;
    }
    65%{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        opacity: 0.35;
    }
    70%{
        margin-left: auto;
        margin-right: auto;
        left: 70%;
        width: 30%;
        opacity: 0.3;
    }
    75%{
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        opacity: 0.25;
    }
    80%{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        opacity: 0.2;
    }
    85%{
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        opacity: 0.15;
    }
    90%{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        opacity: 0.1;
    }
    95%{
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        opacity: 0.05;
    }
    100%{
        margin-left: auto;
        margin-right: auto;
        display: none !important;
        opacity: 0;
        width: 0 !important;
        transform: scaleY(0)  ;
    }
}
/*pause animation utilisée pour voir le détail d'un soucis d'affichage que j'avais*/
/*.paused{*/
/*    -webkit-animation-play-state:paused;*/
/*    -moz-animation-play-state:paused;*/
/*    -o-animation-play-state:paused;*/
/*    animation-play-state:paused;*/
/*}*/
/*mediaqueries selon mon bon vouloir! */



/*neeeeoooon*/
.testneon{
    text-align:center;
    font-size: 1.5em !important;
    /*margin:20px 0 20px 0;*/
}
.testneon{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.testneon{
    color:#0ba8e5;
    /*font-family:Monoton;*/
}
.testneon:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
.testneon:hover{
    color:#ffffff;
}
.testneon2{
    text-align:center;
    font-size: 3em !important;
    /*margin:20px 0 20px 0;*/
}
.testneon2{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.testneon2{
    color:#0ba8e5;
    /*font-family:Monoton;*/
}
.testneon2:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
.testneon2:hover{
    color:#ffffff;
}



/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px #0ba8e5,
        0 0 70px  #0ba8e5,
        0 0 80px  #0ba8e5,
        0 0 100px #0ba8e5,
        0 0 150px #0ba8e5;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #0ba8e5,
        0 0 35px #0ba8e5,
        0 0 40px #0ba8e5,
        0 0 50px #0ba8e5,
        0 0 75px #0ba8e5;
    }
}



/*glow*/
@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #0ba8e5,
        0 0 70px  #0ba8e5,
        0 0 80px  #0ba8e5,
        0 0 100px #0ba8e5,
        0 0 150px #0ba8e5;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #0ba8e5,
        0 0 35px #0ba8e5,
        0 0 40px #0ba8e5,
        0 0 50px #0ba8e5,
        0 0 75px #0ba8e5;
    }
}
footer {
    margin-top: 10% !important;
}



@media screen and (max-width: 768px) {
    .textcar {
        display: none;
    }
    .titreneon {
        display: none;
    }
    .titre-petit {
        display: block;
    }
    footer {
        margin-top: 30%!important;
        display: block !important;
        columns: 1 !important;
    }
    .carouche{
        display: none!important;
    }
    svg{
        display: none!important;
    }
    .justify-content-between{
        justify-content: center!important;
    }
    .vide2{
        display: block!important;
        align-items: center!important;
        justify-content: center!important;
    }
    .vide{
        display: none!important;
    }
    .htext{
        font-family: sans-serif;
        font-size: small;
        color: #a85ff1;
    }
    .divbouton{
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
        font-size: 10px!important;

    }
    /*.vide{*/
    /*    display: flex!important;*/
    /*    columns: 1!important;*/
    /*    justify-content: center!important;*/
    /*    align-items: center !important;*/
    /*    margin-left: auto!important;*/
    /*    margin-right: auto!important;*/
    /*}*/
}