/*.bg-noir{*/
/*    background-color: black;*/
/*}*/
.text-noir{
    color: black;
}
.bg-gris{
    background-color: gray;
}
img.imgcarou{
    width: 100%;
    height: 80%;
}
.card-header{
    background-color: #343a40;
}
.neon {
    position: relative;
    overflow: hidden;
    filter: brightness(190%);
}
.neonpr {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #8003f6, 0 0 20px #8726e7, 0 0 30px #a85ff1, 0 0 40px #b49ede, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffb3d8, 0 0 40px #ef74b1, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.neonbr {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowe 1s ease-in-out infinite alternate;
    -moz-animation: glowe 1s ease-in-out infinite alternate;
    animation: glowe 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowe {
    from {
        text-shadow: 0 0 10px #0346fc, 0 0 20px #1c50ec, 0 0 30px #2772ef, 0 0 40px #58efe3, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e07c7c, 0 0 40px #de4141, 0 0 50px #ff0000, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.neongy {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowy 1s ease-in-out infinite alternate;
    -moz-animation: glowy 1s ease-in-out infinite alternate;
    animation: glowy 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowy {
    from {
        text-shadow: 0 0 10px #005702, 0 0 20px #258709, 0 0 30px #31de41, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffdb6f, 0 0 40px #debc3b, 0 0 50px #a78400, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.neonpb {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowo 1s ease-in-out infinite alternate;
    -moz-animation: glowo 1s ease-in-out infinite alternate;
    animation: glowo 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowo {
    from {
        text-shadow: 0 0 10px #660064, 0 0 20px #9d0bc9, 0 0 30px #c576ea, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #a1ffe6, 0 0 40px #7bffed, 0 0 50px #00fca9, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}







.text {
    background-color: #343a40;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, purple, pink, dodgerblue, pink, purple);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background:
            radial-gradient(
                    circle,
                    white,
                    transparent 25%
            ) center / 25% 25%,
            radial-gradient(
                    circle,
                    white,
                    black 25%
            ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}
@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}
@media screen and (max-width: 768px) {
    #textcar {
        display: none;
    }
}