.text-noir{
    color: black;
}
.btn{
    font-size: 1.9rem;
}
.card{
    background: rgba(0, 151, 19, 0.1);
}
.card-header{
    background: rgba(0, 151, 19, 0) !important;
}
body{
    background-image: url('synth.jpg') ;
    background-size: cover;
}
.bg-gris{
    background-color: gray;
}
img.imgcarou{
    width: 50%;
    height: 80%;

}
.card-header{
    background-color: #343a40;
}
.neon {
    position: relative;
    overflow: hidden;
    filter: brightness(190%);
}
.neonpr {
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #8003f6, 0 0 20px #8726e7, 0 0 30px #a85ff1, 0 0 40px #b49ede, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffb3d8, 0 0 40px #ef74b1, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.neonbr {
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glowe 1s ease-in-out infinite alternate;
    -moz-animation: glowe 1s ease-in-out infinite alternate;
    animation: glowe 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowe {
    from {
        text-shadow: 0 0 10px #0346fc, 0 0 20px #1c50ec, 0 0 30px #2772ef, 0 0 40px #58efe3, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #e07c7c, 0 0 40px #de4141, 0 0 50px #ff0000, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.neongy {
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glowy 1s ease-in-out infinite alternate;
    -moz-animation: glowy 1s ease-in-out infinite alternate;
    animation: glowy 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowy {
    from {
        text-shadow: 0 0 10px #005702, 0 0 20px #258709, 0 0 30px #31de41, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffdb6f, 0 0 40px #debc3b, 0 0 50px #a78400, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.neonpb {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowo 1s ease-in-out infinite alternate;
    -moz-animation: glowo 1s ease-in-out infinite alternate;
    animation: glowo 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowo {
    from {
        text-shadow: 0 0 10px #660064, 0 0 20px #9d0bc9, 0 0 30px #c576ea, 0 0 40px #ffffff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #a1ffe6, 0 0 40px #7bffed, 0 0 50px #00fca9, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/*@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);*/

:root {
    /* Base font size */
    font-size: 10px;

     /*Set neon color*/
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}



h1 {
    font-size: 7rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
                -0.2rem -0.2rem 1rem #fff,
                0.2rem 0.2rem 1rem #fff,
                0 0 2rem var(--neon-text-color),
                0 0 4rem var(--neon-text-color),
                0 0 6rem var(--neon-text-color),
                0 0 8rem var(--neon-text-color),
                0 0 10rem var(--neon-text-color);

        box-shadow:
                0 0 .5rem #fff,
                inset 0 0 .5rem #fff,
                0 0 2rem var(--neon-border-color),
                inset 0 0 2rem var(--neon-border-color),
                0 0 4rem var(--neon-border-color),
                inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes myAnimation{
    0%{
        opacity: 1;
    }
    5%{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        opacity: 0.95;
    }
    10%{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        opacity: 0.9;
    }
    15%{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        opacity: 0.85;
    }
    20%{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        opacity: 0.8;
    }
    25%{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        opacity: 0.75;
    }
    30%{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        opacity: 0.7;
    }
    35%{
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        opacity: 0.65;
    }
    40%{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        opacity: 0.6;
    }
    45%{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        opacity: 0.55;
    }
    50%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
        transform: scaleY(0.5) ;
        width: 50%;
    }
    55%{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        opacity: 0.45;
    }
    60%{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        opacity: 0.4;
    }
    65%{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        opacity: 0.35;
    }
    70%{
        margin-left: auto;
        margin-right: auto;
        left: 70%;
        width: 30%;
        opacity: 0.3;
    }
    75%{
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        opacity: 0.25;
    }
    80%{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        opacity: 0.2;
    }
    85%{
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        opacity: 0.15;
    }
    90%{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        opacity: 0.1;
    }
    95%{
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        opacity: 0.05;
    }
    100%{
        margin-left: auto;
        margin-right: auto;
        display: none !important;
        opacity: 0;
        width: 0;
        transform: scaleY(0)  ;
    }
}
.carouche{
    width: 100%;
}
.testanimation{
    animation-name: myAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.testanimationn{
    animation-name: myAnimationn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes myAnimationn{
    0%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        width: 0;
        transform: scaleY(0)  ;
    }
    5%{
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        opacity: 0.05;
    }
    10%{
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        opacity: 0.1;
    }
    15%{
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        opacity: 0.15;
    }
    20%{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        opacity: 0.2;
    }
    25%{
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        opacity: 0.25;
    }
    30%{
        margin-left: auto;
        margin-right: auto;
        left: 70%;
        width: 30%;
        opacity: 0.3;
    }
    35%{

        margin-left: auto;
        margin-right: auto;
        width: 35%;
        opacity: 0.35;
    }
    40%{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        opacity: 0.4;
    }
    45%{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        opacity: 0.45;
    }
    50%{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
        transform: scaleY(0.5) ;
        width: 50%;
    }
    55%{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        opacity: 0.55;
    }
    60%{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        opacity: 0.6;

    }
    65%{
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        opacity: 0.65;
    }
    70%{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        opacity: 0.7;

    }
    75%{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        opacity: 0.75;
    }
    80%{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        opacity: 0.8;

    }
    85%{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        opacity: 0.85;

    }
    90%{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        opacity: 0.9;
    }
    95%{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        opacity: 0.95;
    }
    100%{
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .textcar {
        display: none;
    }
}